<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>Login-Form</title>
</head>

<body>
    <header id="header">
        <div class="logo"><a href="">Apni Dukaan</a> </div>
        <div class="hamburger" id="toggle">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <nav class="nav-bar" id="navbar">
            <ul>
                <li>
                    <a href="/index" class="active">Home</a>
                </li>
                <li>
                    <a href="/about">About Us</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
                <div class="login">
                    <li>
                        <a href="/login"  class="navlogin active">Login</a>
                    </li>
                </div>
            </ul>
        </nav>
    </header>

    <section id="about-head" class="section-p1">
        <img src="images/a6.jpg" alt="">
        <div>
            <h2>Who We Are ?</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis veniam aliquid beatae laboriosam voluptatum dolorum ex quis vero, eius consectetur amet voluptas iste natus dolore commodi magni sit illo. Unde consectetur doloribus illum eveniet, beatae cum molestias, necessitatibus cupiditate voluptate eligendi vero architecto quos quo saepe! Tempore illum nobis dolor optio praesentium sit eum ullam odio rerum repellat, quo maiores.</p>
            <abbr title="">Create stunning images with as much or as little control as you like thanks to a choice of basic and Creative modes</abbr>
            <br><br>
            <marquee bgcolor='#ccc' loop="-1" scroolamount="5" width="100%">Create stunning images with as much or as little control as you like thanks to a choice of basic and Creative modes</marquee>
        </div>
        </section>


    <section id="about-app" class="section-p1">
        <h1>Download Our <a href="#">App</a></h1>
        <div class="video">
            <video autoplay muted loop src="images/1.mp4"></video>
        </div>
    <script src="javascript/index.js"></script>
</body>

</html>